.apply-border{
  border: solid 1.5px #8a8a8a;
  border-radius: 10px;
}
.form-container{
  background: white;
  width: 40%;
}
.section-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 900px) {
  .form-container{ width: 55%; }
}
@media screen and (max-width: 700px) {
  .apply-border{ border: 0; }
  .form-container{ width: 100%; }
  .section-form{ justify-content: flex-start; }
}