.container-qualification{
  display: flex;
}
.unit{
  width: 100%;
  padding-top: 0;
  margin-top: 0;
  background: rgb(87, 87, 87);
  color: white;
}
.reproved{
  background: red;
}
.approved{
  background: greenyellow;
}