.register-container{ width: 70%; }
.container-register-data{
  border: solid 1.5px #8a8a8a;
  border-radius: 10px;
  background: white;
}
input, textarea{
  border: 1.5px solid rgba(9, 113, 163, 1);
  border-radius: 10px;
  outline: none;
  padding-left: 1rem;

  width: 50%;
}
form{ padding-left: 1rem; }
@media screen and (max-width: 900px){
  .register-container{ width: 80%; }
  input, textarea{ width: 70%; }
}
@media screen and (max-width: 700px){
  .register-container{ width: 80%; }
  input, textarea{ width: 80%; }
  .save{ width: 100%; }
}
@media screen and (max-width: 600px){
  .container-register-data{ border: none; }
  .indications{ text-align: center; }
  
  form{ padding: 0; }
  input, textarea{ width: 100%; }
  .register-container{ width: 100%; }
}